
/* Page title component */
main > section > figure > figcaption {
    font-size: 3rem;
}

/* Page content component */
main > section > div > section > article {
    display: flex;
    justify-content: space-around;
}

.aboutSections {
    padding: 1rem;
}

.mainText {
    font-size: 1.25rem;
}

/* Tablet screens modifiers */
@media only screen and (min-width: 550px) {
    /* Page content component */
    main > section > div > section {
        display: flex;
        justify-content: center;
    }

   main > section > div > section > article {
    flex-direction: column;
    align-items: center;
    flex: 2;
   } 

   ul {
    padding: 0.5rem;
   }

   main > section > div {
    padding-top: 3rem;
   }

}

/* Desktop screen modifiers */
@media only screen and (min-width: 951px) {
    /* Page content component */
    main > section > div {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    main > section > div > section > article {
    display: flex;
    justify-content: flex-start;
    }

    main > section > div > article {
        flex: 5;
    }

    main > section > div > section {
        flex: 8;
    }

}