/* Desktop screen size modifier - small */
@media only screen and (min-width: 900px) {
   /* Blog post component */
    main > section > div > div > img {
    height: 8vw;
    float: left;
    margin-left: 4rem;
    } 

}
/* Desktop screen size modifier - Large */
@media only screen and (min-width: 1150px) {
    /* Blog post component */
    main > section > div > div > img {
    height: 8vw;
    margin-left: 3rem;
    } 
   
}
