/* Desktop screen modifiers - small size */
@media only screen and (min-width: 900px) {
  /* BLog post component */
  main > section > div > div > img {
    height: 8vw;
    float: left;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
/* Desktop screen modifiers - large size */
@media only screen and (min-width: 1150px) {
  /* Blog post component */
  main > section > div > div > img {
    height: 8vw;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}
