/* Desktop screen modifers - small */
@media only screen and (min-width: 900px) {
    /* Blog post component */
    main > section > div > div > img {
    height: 8vw;
    float: left;
    margin-left: 2rem;
    margin-right: 2rem;
    } 

}
/* Desktop scfeen modifiers - large */
@media only screen and (min-width: 1150px) {
    /* Blog post component */
    main > section > div > div > img {
    height: 8vw;
    margin-left: 3rem;
    } 
    
}
