
/* Page title component */
main > section > figure > figcaption {
  font-size: 1.5rem;
}

/* Page content component */
#selfPortrait {
  width: 30%;
  max-width: 30%;
  min-width: 20%;
  border-radius: 50%;
}

main > section > section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Desktop screen modifiers */
@media only screen and (min-width: 951px) {
  /* Header component */
  header > a {
    width: 50%;
    padding-bottom: 3rem;
  }
  
  /* Page content component */
  main > section > section {
    flex-direction: row-reverse;
  }

  #selfPortrait {
    width: 25%;
    padding: 1rem;
  }

  .mainText {
    font-size: 1rem;
  }
}
