@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Press+Start+2P&display=swap');

/* Properties applied to entire page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: white;
    min-width: 300px;
}

body > main {
    padding-bottom: 5rem;
}

/* Main components */
main > section {
    display: flex;
    width: 100%; 
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

/* Main components - page title with background image */
#titleRetro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vw;
    background: rebeccapurple url(images/pageTitle.jpg) no-repeat;
    background-position: 50% 50%; 
    background-size: 100%;
    filter: grayscale(70%);
    border-radius: 10px;
    transition: 1s;
}

#titleRetro:hover {
    filter: grayscale(0%);
}

    /* Main component - text styling */
.mainText {
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'Cabin', sans-serif;
    color: rgb(85,26,139);
}

/* Header components */
header {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0 0;
}

header > a {
    width: 40%;
    min-width: 40%;
}

header > a > img {
    width: 100%;
    border: 2px solid pink;
    border-radius: 50%;
}

header > nav {
    display: flex;
    flex-direction: column;
    align-items: center;  
}
    /* Header component - event to disable current page link */
.disable {
    pointer-events: none;
}
    /* Header components - navigation links styling */
.navTitles {
    font-size: 1rem;
    font-family: 'Press Start 2P', Times, serif;
    color: rgb(85,26,139);
    padding: 1rem 0;
}

.navTitles > a {
    text-decoration: none;
    padding: 1rem;
    text-align: center;
}

.navTitles > a:hover {
    background-color: pink;
    border: 5px dashed rgb(0, 132, 255);
}

/* Footer components */
footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    background-color: black;
    padding: 1rem 0;
}

/* Text modifiers */
.retroText {
    background: linear-gradient(
      hsl(239, 50%, 30%) 15%,
      hsl(239, 50%, 40%) 25%,
      hsl(200, 60%, 50%) 35%,
      hsl(100, 70%, 80%) 45%,
      hsl(60, 100%, 98%) 50%,
      hsl(240, 0%, 0%) 52%,
      hsl(240, 10%, 10%) 60%,
      hsl(240, 50%, 30%) 70%,
      hsl(220, 70%, 60%) 80%,
      hsl(212, 92%, 76%) 85%
    );
    color: transparent; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px hsl(55, 76%, 75%);
    transition: 0.5s ease-in;  
}

.shadow:hover {
    filter: drop-shadow(2px -2px 0px hsl(342, 92%, 15%))
            drop-shadow(2px -2px 0px hsl(342, 92%, 20%))
            drop-shadow(2px -2px 0px hsl(342, 92%, 25%))
            drop-shadow(2px -2px 0px hsl(342, 92%, 30%))
            drop-shadow(2px -2px 0px hsl(342, 92%, 35%))
}

.centerText {
    text-align: center;
}

.active {
    color: pink;
}

/* Tablet sizes 550px to 950px */
@media only screen and (min-width: 550px) {

    /* Tablet body modifiers */
    body > main {
        display: flex;
    }

    /* Tablet header component modifiers */
    header {
        flex-direction: column;
        padding: 1rem 1rem;
        align-items: center;
        justify-content: flex-start;  
        flex: 1; 
    }

    header > nav {
        justify-content: center;
        height: 20rem;
        position: sticky; 
        top: 20px;
    }

    header > a {
        width: 70%;
        margin-bottom: 3rem;
    }

    header > nav > p {
        display: flex;
        width: 100%;
        flex: 1;
        align-items: center;
        justify-content: center;
    }

    /* Tablet Main components modifiers */
    #titleSize {
    font-size: 2rem;
    }

    main > section {
        flex: 3;
    }

    .mainText {
    font-size: 1.25rem; 
    }

    #titleRetro {
        height: 25vh;
    }

    #titleSize {
    font-size: 2.2rem;
    }
}

@media only screen and (min-width: 951px) {
   
    #titleRetro {
        height: 20vh;
    }

    #titleSize {
    font-size: 4rem;
    }
}
